
$dimension: 100px;
$thickness: 4px;
$color: #3ba4ff;

.loader-container {
    position: fixed;
    top: 88px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000a6;
    z-index: 999;  
}

  
  @keyframes rotate {
    to {transform: rotate(360deg);}
  }
  
  .arc {
    position: relative;
    width: $dimension;
    height: $dimension;
    margin-bottom: 90px;
  }
  
  .arc:before, .arc:after {
    border-bottom: $thickness solid $color;
    border-left: $thickness solid transparent;
    border-radius: 50%;
    border-right: $thickness solid $color;
    border-top: $thickness solid $color;
    bottom: 0;
    box-sizing: border-box;
    content: '';
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center center;
  }
  
  .arc:before {
    animation: rotate 1s ease-in-out infinite;
    height: 100%;
    width: 100%;
  }
  
  .arc:after {
    animation: rotate 1s ease-in-out infinite reverse;
    height: 50%;
    width: 50%;
  }