<div class="search-bar">
    <div class="search-and-filter">
            <div class="search-div">
                <span class="material-icons search-icon">
                        search
                </span>
                <input class="search-input" [(ngModel)]="searchTerms" (input)="searchInputChanged()" placeholder="Movie title, TV Show name">
            </div>

            <div class="type-sliders-div">
                <div class="type-slider">
                        <mat-slide-toggle [(ngModel)]="typeSliderIsTVShow" (change)="typeSliderTVChanged()">Tv Show</mat-slide-toggle>
                </div>
            
                <div class="type-slider">
                    <mat-slide-toggle [(ngModel)]="typeSliderIsMovie" (change)="typeSliderMovieChanged()">Movie</mat-slide-toggle>
                </div>
            </div>
            
    </div>
   
    <div class="year-list">
        <mat-chip-list>
            <mat-chip #chipList *ngFor="let year of availaibleYears" (click)="selectYear(year)"
             [selectable]="true" 
            [ngClass]="{'mat-chip-selected': isSelectedYear(year)}">{{ year }}</mat-chip>
        </mat-chip-list>
    </div>
        
</div>

