@import '../../../styles.scss';

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    .search-and-filter {
        display: flex;
        justify-content: center;
        align-items: center;

        .search-div {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 10px 15px 10px 10px;
            background: #191919;
            border-radius: 20px;
        }

        .search-icon {
            margin-right: 5px;
            color: gray;
        }

        .search-input {
            background: transparent;
            border: none;
            border-bottom: 1px solid #424242;
            color: #dedede;
            font-size: 20px;
            font-family: 'Fira Sans';
            letter-spacing: 1px;

            &::placeholder {
                font-size: 16px;
                font-style: italic;
            }
        
            &:focus {
                outline: none;
                border-bottom: 2px solid #3ba4ff;
            }
        }

        .type-sliders-div {
            display: flex;
            justify-content: center;
            align-items: center;

            .type-slider {
                margin-left: 20px;
                padding-top: 4px;
        
                .left-label {
                    margin-right: 8px;
                    font-family: Roboto, "Helvetica Neue", sans-serif;
                }
            }
        }
    

    }

    .year-list {
        margin-left: 20px;
    }

    @include bp-lt($bpSearchBar) {
        flex-direction: column;

        .year-list {
            margin-left: 0px;
            margin-top: 30px;
        }
    }

    @include bp-lt($bpSearchBarLow) {
        .search-and-filter {
            flex-direction: column;

            .type-sliders-div {
                width: 100%;
                margin-top: 30px;

                .type-slider:first-child{
                    margin-left: 0px;
                }
            }
        }
    }
}


:root {
    .mat-slide-toggle-bar {
        background-color: rgb(255 255 255 / 38%);
    }
        
    .mat-chip-list-wrapper {
    }

    mat-chip {
        cursor: pointer;
    }

}

