.menu-item {
    color: white;
    margin: 0 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Fira Sans';
    letter-spacing: 1px;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}