@import '../../../styles.scss';

$backgroundColor: black;
$fontColor: white;

.my-list-div {
    height: auto;
    width: auto;
    padding: 40px 50px 20px 50px;
    min-height: 1000px;
    border-top: 1px solid black;
    background: $backgroundColor;
    color: $fontColor;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .toWatchList-div, .alreadyWatchedList-div {
        display: block;
        width: 100%;
        margin-bottom: 50px;

        .div-title {
            width: 100%;
            margin-bottom: 20px;
            font-family: "Teko";
            font-size: 25px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        .watch-list {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            box-shadow: 0 10px 20px rgb(81 81 81 / 34%), 0 6px 6px rgb(55 55 55 / 35%);
        
            @include bp-lt($bpDetailLow) {
                box-shadow: none;
            }
        }

        .emptyList {
            padding: 150px 0;
            border: 1px solid white;
            text-align: center;
            font-family: "Teko";
            font-size: 40px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
}