<div class="my-list-div">

    <div class="toWatchList-div">
        <div class="div-title">WATCH LATER</div>

        <div class="watch-list">
            <gallery-item *ngFor="let media of toWatchList"
            [media]="media" [allowHover]="true">
            </gallery-item>
        </div>

    
        <div class="emptyList" *ngIf="toWatchList.length === 0">
            Empty List
        </div>
    </div>

        
    <div class="alreadyWatchedList-div">
        <div class="div-title">WATCHED</div>

        <div class="watch-list">
            <gallery-item *ngFor="let media of alreadyWatchedList"
            [media]="media" [allowHover]="true">
            </gallery-item>
        </div>
    
        <div class="emptyList" *ngIf="alreadyWatchedList.length === 0">
            Empty List
        </div>
    </div>


</div>>