<div class="base-div">
    <img [ngClass]="{'allowHover': allowHover}" src="https://image.tmdb.org/t/p/w300/{{media.poster_path}}"
    (click)="goToMediaDetail()"/>
    <div class="poster-actions-div">
        <span class="material-icons" (click)="toWatch()"
        [ngClass]="{'selectedIcon': isInToWatchList()}">
            library_add
        </span>
        <span class="material-icons checked-icon" (click)="alreadyWatch()"
        [ngClass]="{'selectedIcon': isInAlreadyWatchedList()}">
            library_add_check
        </span>
    </div>
</div>