@import '../../../styles.scss';

.poster-component:host  {

    .base-div {
        position: relative;
        left: 22.5px;
        display: flex;
        justify-content: center;
        
        img {
            width: 220px;

            @include bp-lt($bpDetailLow) {
                width: auto;
            }

            &.allowHover {
                transition: all 0.5s ease;
                background-color: black;
                border: 5px solid black;
    
                &:hover, &:active {
                    background-color: black;
                    border: 5px outset black;
                    border-radius: 12%;
                    outline: none;
                    opacity: 0.7;
                }
            }

        }

        .poster-actions-div {
            display: flex;
            flex-direction: column;
            width: min-content;
            position: relative;
            left: -50px;

            .material-icons {
                margin-top: 5px;
                background: #11111191;
                color: white;
                border-radius: 50%;
                padding: 7px;
                font-size: 30px;
                cursor: pointer;

                &.checked-icon {
                    // color: #005cbe;
                }

                &.selectedIcon {
                    color: #3900a5;
                    background: #ffffff7a;

                    &.checked-icon {
                        color: #004998;
                    }
                }

                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }
    }

}


