$backgroundColor: black;
$fontColor: white;


.home {
    height: auto;
    width: auto;
    padding: 40px 50px 20px 50px;
    min-height: 1000px;
    border-top: 1px solid black;
    background: $backgroundColor;
    color: $fontColor;
}





