<div class="home">
   <search-bar (searchTermsChange)="updateSearchTerms($event)"
   (sliderIsTV)="updateSliderIsTV($event)" (sliderIsMovie)="updateSliderIsMovie($event)"
   (updateSelectedYears)="updateSelectedYears($event)"></search-bar>
   <gallery-list [searchTerms]="searchTerms" [typeSliderIsMovie]="typeSliderIsMovie"
   [typeSliderIsTV]="typeSliderIsTV" [selectedYears]="selectedYears"></gallery-list>
</div>

