@import '../../../styles.scss';

$backgroundColor: black;
$fontColor: white;


.item-detail-page {
    height: auto;
    width: auto;
    padding: 40px 50px 20px 50px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border-top: 1px solid black;
    background: $backgroundColor;
    color: $fontColor;

    .global-info-part {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 70%;

        .left-part {
            .item-detail-poster::ng-deep {
                img {
                    width: 250px;

                    @include bp-lt($bpDetailLow) {
                        width: auto;
                    }
                }


                @include bp-gt($bpDetailBig) {
                    img {
                        width: 300px;
                    }
                }
            }
        }

        .right-part {
            margin-left: 50px;

            .movie-info {
                .movie-title {
                    font-family: "Teko";
                    font-size: 45px;
                    line-height: 45px;
                }

                .movie-date {
                    margin-top: 5px;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-family: "Fira Sans";
                    letter-spacing: 1px;
                }

                .tv-runtime {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    margin-top: 5px;
    
                    >* {
                        margin: 0px 3px;
                    }
                }

                .movie-runtime {
                    margin-top: 5px;
                }

                .movie-overview {
                    max-width: 785px;
                    margin-top: 20px;
                    font-size: 17px;
                    line-height: 30px;
                    letter-spacing: 0.2px;
                }
            }
        }

        @include bp-lt($bpDetail) {
            flex-direction: column;

            .left-part {
                width: 100%;
                text-align: center;
            }

            .right-part {
                margin-top: 50px;
                margin-left: 0px;
            }
        }
    }

    .extra-info-part {
        @include bp-gt($bpDetail) {
            position: relative;
            left: 22.5px;
        }
        width: 70%;
        margin-top: 40px;

        .movie-extra-info {
            display: flex;
            flex-direction: column;

            .video {
                margin-top: 50px;

                iframe {
                    width: 100%;
                }
            }

            .directors-info {
                display: flex;
                flex-wrap: wrap;
                font-size: 16px;

                >div {
                    margin-top: 10px;
                }

                .director {
                    margin-top: 10px;
                    white-space: nowrap;
                    margin-left: 10px;

                    &:not(:last-child) {
                        &:after {
                            content: ",";
                        }
                    }
                    
                }
            }

            .cast-info {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 70px;

                .cast {
                    margin-left: 30px;
                    margin-bottom: 30px;

                    img {
                        width: 150px;
                        margin-bottom: 5px; 
                    }

                    .empty-cast-img {
                        width: 150px;
                        height: 225px;
                        margin-bottom: 8px;
                        border: 1px solid white;
                    }

                    .cast-name {
                        text-align: center;
                        font-size: 16px;
                    }
                }
            }
        }

        @include bp-gt($bpDetailVeryBig) {
            width: 50%;
        }

    }

    @include bp-lt($bpDetailLow) {
        padding: 40px 10px 20px 10px;

        .global-info-part, .extra-info-part {
            width: 90%;
        }

        .extra-info-part {
            .movie-extra-info {
                .cast-info {
                    justify-content: center;
                    align-items: center;

                    .cast {
                        margin-left: 0px;

                        img {
                            width: 140px;
                        }
                    }

                    .cast:nth-child(even) {
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    @include bp-lt($bpDetailExtraLow) {
        .extra-info-part {
            .movie-extra-info {
                .cast-info {
                    .cast {
                        margin-left: 0px !important;
                    }
                }
            }
        }
    }
}

