<div class="item-detail-page">
        <div class="global-info-part" *ngIf="movie">
                <div class="left-part">
                    <poster [media]="movie" [customClass]="'item-detail-poster'"></poster>
                </div>
                <div class="right-part">
                    <div class="movie-info">
                        <div class="movie-title">{{ movie.name ? movie.name : movie.title}}</div>
                        <div class="movie-date">{{ movie.first_air_date ? (movie.first_air_date | date:'yyyy') : (movie.release_date | date:'yyyy') }}</div>
                        <div *ngIf="movie.episode_run_time" class="tv-runtime">
                            <div>{{ movie.number_of_seasons }} seasons&nbsp;&nbsp;-</div>
                            <div>{{ movie.number_of_episodes }} episodes&nbsp;&nbsp;-</div>
                            <div>{{ movie.episode_run_time[0] }} min</div>
                        </div>
                        <div *ngIf="movie.runtime" class="movie-runtime">{{ timeConvert(movie.runtime) | date:'HH:mm' }}</div>
                        
                        <div class="movie-overview">
                            {{ movie.overview }}
                        </div>
                    </div>
                </div>
        </div>

        <div class="extra-info-part" *ngIf="movie">
            <div class="movie-extra-info">
                <div class="directors-info">
                    <div *ngIf="isMovie; else notMovie">Directors&nbsp;:&nbsp;</div>    
                    <ng-template #notMovie><div>Creators&nbsp;:&nbsp;</div></ng-template>
                    
                    <div class="director" *ngFor="let director of getDirectors()">
                            {{ director.name }}
                    </div>
                </div>
            </div>

            <div class="movie-extra-info">
                <div class="video" *ngIf="movieVideo">
                        <iframe height="375" [src]="movieVideo"
                        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>

                <div class="cast-info">
                    <div class="cast" *ngFor="let cast of getCast()">
                        <img *ngIf="cast.profile_path; else notProfilePath"
                            src="https://image.tmdb.org/t/p/w200/{{cast.profile_path}}" />   
                        <ng-template #notProfilePath>
                            <div class="empty-cast-img"></div>
                        </ng-template>
                        <div class="cast-name">{{ cast.name }} </div>
                    </div>
                </div>
            </div>
        </div>
    
</div>