@import '~@angular/material/theming';
@include mat-core();

/* GLOBAL RULES */
html {
  overflow-x: hidden;

  body {
    overflow-x: hidden;
  }
}

/* ANGULAR MATERIAL THEME */
$mat-primary-scheme: (
  100: #5900ff,
  500: #3900a5,
  700: #2d009a,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: #ffffff,
    700: #ffffff,
  )
);
$mat-accent-scheme: (
  100: #08f,
  500: #0081f1,
  700: #0061b5,
  contrast: (
    100: rgba(0,0,0,0.87),
    500: rgba(0,0,0,0.87),
    700: #ffffff,
  )
);
$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);

@include angular-material-theme($app-light-theme);


$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);
.darkMode {
  @include angular-material-theme($app-dark-theme);
}


$backgroundColor: black;

html, body { height: 100%; background: $backgroundColor; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* BREAKPOINTS */

$bpSearchBar: 1400px;
$bpSearchBarLow: 550px;
$bpDetailVeryBig: 1700px;
$bpDetailBig: 1500px;
$bpDetail: 1000px;
$bpDetailLow: 550px;
$bpDetailExtraLow: 370px;

/* BREAKPOINTS MIXINS */

@mixin bp-lt($point) {
  @media all and (max-width: $point) {
      @content;
  }
}
@mixin bp-gt($point) {
  @media all and (min-width: $point) {
      @content;
  }
}
