@import '../../../styles.scss';
$menuBackgroundColor: black;

:host {
    background: $menuBackgroundColor;
    margin: 0;

    .menu {
        height: 50px;
        display: flex;
        padding: 20px 0;

        .logo {
            width: 8.375rem;
            cursor: pointer;
        }

        .items-part {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 50px;

            @include bp-lt($bpSearchBarLow) {
                display: none;
            }
        }
    }
}

