<div class="menu">
    <img class="logo" (click)="refreshPage()" src="/assets/logo.png"/>
    <div class="items-part">
            <menu-item *ngFor="let menuItem of menuItems" [item]="menuItem">
            </menu-item>
    </div>

</div>