<div class="gallery-item">
    <poster [media]="media" [allowHover]="allowHover"></poster>

    <div class="movie-info" (click)="goToMediaDetail()">
        <div class="movie-title">{{ media.name ? media.name : media.title}}</div>
        <div class="movie-date">{{ media.first_air_date ? (media.first_air_date | date:'yyyy') : (media.release_date | date:'yyyy') }}</div>
        <div *ngIf="media.episode_run_time" class="tv-runtime">
            <div>{{ media.number_of_seasons }} seasons&nbsp;&nbsp;-</div>
            <div>{{ media.number_of_episodes }} episodes&nbsp;&nbsp;-</div>
            <div>{{ media.episode_run_time[0] }} min</div>
        </div>
        <div *ngIf="media.runtime" class="movie-runtime">{{ timeConvert(media.runtime) | date:'HH:mm' }}</div>
    </div>
</div>