.gallery-item {
    display: flex;
    flex-direction: column;
    margin: 40px 5px;
    cursor: pointer;

    img {
        width: 220px;
    }

    .movie-info {
        position: relative;
        left: 22.5px;
        margin-top: 15px;

        &:hover {
            color: #9ebcd0;
        }

        .movie-title {
            font-family: "Teko";
            font-size: 25px;
        }

        .movie-date {
            margin-top: 5px;
            font-size: 16px;
            text-transform: uppercase;
            font-family: "Fira Sans";
            letter-spacing: 1px;
        }

        .tv-runtime {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;

            >* {
                margin: 0px 3px;
            }
        }
    }
}